*.log
[Bb]in/
[Oo]bj/
[Ll]og/
*.user
*.suo
*.userosscache
*.sln.docstates
packages/
*.nupkg
*.snupkg
.vs/
.vscode/
.vscode-test/
*.dll
*.exe
*.app
*.so
*.dylib
*.pdb
*.cache
*.tmp
*.pid
TestResults/
*.trx
*.coverage
publish/
out/
*.local
*.bak
**/TestExecution.json
**/TestExecution.html
**/RequestLog.txt
[Tt]humbs.db
[Dd]esktop.ini
